.page{
    height: 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.calculadora{
    display: flex;
    background-color: #333333;
    width: 25%;
    height: 75%;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
}

.resultado{
    width: 95%;
    height: 30%;
    background-color: #2D2D2D;
    margin: 8px 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resTexto{
    all: unset;
    display: flex;
    font-size: 48px;
    background-color: #2D2D2D;
    width: 95%;
    justify-content: end;
}

.teclas{
    align-items: center;
    justify-content: center;
    margin: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.hr{
    width: 95%;
    border: none;
    height: 2px;
    background-color:#4D4D4D;
}